.header{
  max-width: 350px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: black;
  box-shadow: 0 0 10px grey;
  padding: 10px 50px;
}

.text{
  text-align: center;
  color: white;
}

.text_1{
  color: white;
}

.container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 3px 3px 3px darkgray;
}

.history{
  margin: 0;
  padding: 0;
}

.history li{
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 3px darkgray;
  background-color: white;
  padding: 10px 5px;
  margin: 5px 0;
}


.new-transaction input{
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}

.button{
  background-color: lightgrey;
  box-shadow: none;
}


