.header{
  max-width: 350px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(10, 10, 10, 0.932);
  box-shadow: 0 0 10px grey;
  padding: 10px 50px 25px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.text{
  text-align: center;
  color: white;
}

.container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 3px 3px 3px darkgray;
}

.text_1{
  color:white;
  margin-top: None;
}

.history{
  margin: 0;
  padding: 0;
}

.history li{
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 3px darkgray;
  background-color: white;
  padding: 10px 5px;
  margin: 5px 0;
}

.new_transaction input{
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.new_transaction{
  color: white;
}

.button{
  width: 100%;
  background-color: rgb(104, 93, 93);
  box-shadow: none;
  color: white;
  font-weight: bolder;
}


